  html,body {
    font-family: 'Lato', sans-serif;
  }
  .myfont{
    font-family: 'Lato', sans-serif;

  }
  .my-icon{
    width: 100%;
    max-width: 150px;
  }
  .vg{
    background-color: rgba(28, 165, 235,1);
    }